html {
    margin: 0;
    padding: 0;
}

body {
    min-height: calc(100vh - 0px);
    margin: 0;
    padding: 0;
    background-color: #F1F1F1;
    font-family: Arial, sans-serif;
    color: #B5B5B7;
}

* {
    transition: all .1s ease-in;
    box-sizing: border-box;
}

h2 {
    font-size: 16px;
}

ul {
    padding: 0;
}

header,
main,
footer {
    margin: 0 auto;
    max-width: 900px;
    min-width: 620px;
    padding: 0 10px;
}

input {
    display: inline-block;
    vertical-align: middle;
    color: #ec5a62;
    outline-color: #F1F1F1;
}

form {
    font-size: 0;
    margin: 50px 0;
    ;
}

#search,
#search:focus {
    background-color: #F1F1F1;
    border: none;
    font-size: 100px;
    font-weight: bold;
    width: 93%;
    padding-right: 10px;
}

#button {
    width: 7%;
}

::-webkit-input-placeholder {
    color: #B5B5B7;
    text-indent: 0px;
    opacity: 1;
    transition: opacity 0.3s ease;
}

::-moz-placeholder {
    color: #B5B5B7;
    text-indent: 0px;
    opacity: 1;
    transition: opacity 0.3s ease;
}


/* Firefox 19+ */

:-moz-placeholder {
    color: #B5B5B7;
    text-indent: 0px;
    opacity: 1;
    transition: opacity 0.3s ease;
}


/* Firefox 18- */

:-ms-input-placeholder {
    color: #B5B5B7;
    text-indent: 0px;
    opacity: 1;
    transition: opacity 0.3s ease;
}

:focus::-webkit-input-placeholder {
    text-indent: 500px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

:focus::-moz-placeholder {
    text-indent: 500px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

:focus:-moz-placeholder {
    text-indent: 500px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

:focus:-ms-input-placeholder {
    text-indent: 500px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.col a {
    font-size: 12px;
    font-weight: bold;
    color: #B5B5B7;
    text-decoration: none;
}

#conteiner {
    margin: 0 auto;
}

ul>li {
    display: inline-block;
    background-color: #EBEBED;
    height: 70px;
    width: 100%;
    padding: 0px;
    margin: 0 0 5px 0;
    font-size: 16px;
    list-style-type: none;
    list-style-position: inside;
    box-sizing: border-box;
    border-radius: 7px;
}

ul>li:hover {
    background-color: #E4E4E6;
}

ul>li:hover a {
    color: #ec5a62;
}

.col {
    display: inline-block;
    vertical-align: top;
    width: calc(30% - 3px);
    margin-right: 5%;
    margin-bottom: 20px;
    padding: 0px;
}

.col:last-child {
    margin-right: 0;
}

.col img {
    vertical-align: middle;
    padding: 10px;
}

.round img {
    border-radius: 50%;
}